<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script type="text/javascript" language="javascript">
        function valida_form(){
            if(document.getElementById("name").value == ""){
                alert('Please, fill CNPJ field');
                document.getElementById("name").focus();
                return false
            }
        }
    </script>
    <title>Task 2</title>
</head>
<body>
    <div style="margin-left:50px;margin-top:50px;">
        <nav>
            <h3>Task 2 - Validate CNPJ digits</h3>
        </nav>
        <form action="/task2.html" method="post" onsubmit="return valida_form(this)">
            <label>Enter with a CNPJ number</label>
            <input id="name" type="text" name="name">
            <button type="submit" name="submit" value="submit">Submit</button>
        </form>
        {% if x %}
            {{x}}
        {% endif %}
        <a href="{{ url_for('index') }}">Go back to home</a>
    </div>
</body>
</html>